div {
    text-align: left;
}

div.hidden {
    display: none;
}

ul {
    list-style-type: none;
}

div.keyphrase {
}

div.question {
    display: block;
    padding: 10px;
    text-align: left;
}

.blanks {
    display: inline-block;
    position: relative;
    text-align: left;
    left: 0;
}

.bars {
    display: inline-block;
    text-align: right;
    position: relative;
    right: 0;
    top: 1.5em;
    padding: 10px;
}

div.completion-div {
    position: relative;
    display: block;
}

button.btn-side {
    margin-left: 10px;
}

button.btn-below {
    margin-top: 10px;
}

button.completed, button.completed:hover, button.completed:focus {
    color: green;
}

button.incorrect, button.incorrect:hover, button.incorrect:focus {
    color: red;
}

button.new-question, button.new-question:hover, button.new-question:focus {
    color: blue;
}

input.completed {
    border: 1px solid rbga(0,80,0,0.8);
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 80, 0, 0.8);
}

input.incorrect {
    border: 1px solid rbga(80,0,0,0.8);
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(80, 0, 0, 0.8);
}

input.new-question {
    border: 1px solid rbga(0,0,80,0.8);
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 80, 0.8);
}

span .formula {
    display: inline;
}

span .term {
    display: inline;
}

span .operation {
    display: inline;
}

nav {
    width: 100%;
    border-bottom: 2px grooved black;
}
nav h3 {
    display: inline;
}
nav ul {
    display: inline;
}
nav ul li {
    display: inline;
}